{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block title %}Checkout | Bloom and Brew{% endblock %}
{% block meta_description %}Secure checkout for your Bloom & Brew order. Review your cart and complete your purchase with ease.{% endblock %}

{% block content %}
<!-- Checkout form -->
<div class="container py-5">
    <h2 class="mb-4 text-center">Checkout</h2>
    <form method="POST" id="payment-form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="stripe_pid" value="{{ stripe_pid }}">

        <div class="mb-3">
          <label class="form-label">Card Details</label>

            <div id="card-element" class="StripeElement" aria-label="Card number, expiry date, and CVC input fields">
               
            </div>
            <div id="card-errors" class="text-danger mt-2" role="alert"></div>
        </div>

        <button type="submit" class="btn btn-primary" aria-label="Submit payment for your order">
            Place Order and Pay €{{ total_due|floatformat:2 }}
        </button>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

